<h2>Signup</h2>
<form method="POST" action="/auth/signup">
    <div class="form-group">
    <label for="new-name">Name</label>
    <input type="text" name="name" class="form-control" id="new-name">
    </div>
    <div class="form-group">
    <label for="new-email">Email</label>
    <input type="email" name="email" class="form-control" id="new-email">
    </div>
    <div class="form-group">
    <label for="new-password" class= "signup_words">Password</label>
    <input type="password" name="password" class="form-control"id="new-password">
    </div>
    <input type="submit" value="Sign Up">
</form>
