<br>
<br>
<br>
<br>

<h2 class="journal-header">Journal</h2>
<br>
<br>
<br>
<div class= "journal-entry">
<%=comment.comment%>
</div>
<br>
<br>
<br>

<a href="/favorites">&larr; Go back to favorites!</a>