
   @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');
  
   
   
   body { 
    background-image: url('https://www.visitnh.gov/getmedia/c7ee6c6a-6ab0-4d9d-88b8-8df621c3010e/3-Mountains.jpg');
    background-repeat: no-repeat;
    background-color:black;
    background-attachment: fixed;
    background-size: 100% 100%;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;

}

#title{
    font-family: 'Libre Baskerville', serif;
    font-size: 100px;
    font-weight: 500;
    color:white
 
}

#description{
    font-family:Georgia,serif;
    color:white;
    font-size: 50px;
	font-variant: small-caps; text-transform: none; font-weight: 100; margin-bottom: 0;

    }

.card {
 font-family:Georgia,serif;
 align-items: flex-end;
}

.journal{
    font-family: 'Bitter', serif;
    color:black;
    text-decoration: underline; 
}

.form-group{
    color:teal;
}

.journal-header{
    font-family: 'Bitter', serif;
    font-size: 50px;
    font-weight: 100;
    text-decoration: underline;
}

.journal-entry {
    font-family: 'Bitter', serif;
    font-size: 25px;
    
}

#card-container {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    text-align: left;  
}

#card {
    margin-left: 3vw;
    text-align: center;
    margin-bottom: 3vw;
}

#card:hover{
    opacity: 50%;
}

#card-img-top {
    width: 25.2vw;
    height: 10vw;
    margin-right: 1vw;
}

#fav-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    text-align: left;
}

.card-title {
    text-decoration: underline black;
    font-weight: bold;
}

.profile-title{
    text-align: center;
    font-family: 'Bitter', serif;
    font-size: 50px;
    font-weight: 100;
}

.dropdown{
   /* border: 2px solid purple; */
   float:right
}