body {
    background-image:  url(https://wallpapercave.com/wp/wp3386769.jpg);
    
    background-repeat: no-repeat;
    background-color:black;
    background-attachment: fixed;
    background-size: 100% 100%;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
    width:100vw;
    
}
#title{
    font-family: 'Big Shoulders Inline Text', cursive; 
    color: #49c1ed;
}

#description{
    font-family:Georgia,serif;
	color:teal;
	font-variant: small-caps; text-transform: none; font-weight: 100; margin-bottom: 0;

    }

.font-style-card{
 font-family:Georgia,serif;
}

.journal{
    font-family: 'News Cycle', sans-serif;
    color:white;
}
.form-group{
    color:teal;
}

.journal-header{
    font-family: 'Patrick Hand', cursive;  
}

